[user]
	name = Radu Berinde
  #email = radu.berinde@gmail.com
	email = radu@cockroachlabs.com
[color]
  status = always
[push]
	default = matching
[diff]
	tool = vimdiff
	external = git-diff-wrapper.sh
[alias]
  co = checkout
	amend = commit -a --amend --no-edit
	reword = commit --amend
	pushall = push radu --all -f
  difftxt = diff --no-ext-diff --color-moved=zebra
[merge]
  conflictstyle = diff3
  tool = p4merge
  #tool = vimdiff
[pager]
	diff = 
   
[http]
	cookiefile = /home/radu/.gitcookies
[mergetool]
	keepBackup = false
[pull]
	rebase = preserve
[rerere]
	enabled = false
[rebase]
  autosquash = true
