.notebook {
    color: #000000;
}
.notebook tab:active{
    padding: 2px;
    background-color: #007acc;
    border-width: 2px;
}
.notebook tab{
    padding: 2px;
    border-width: 2px;
}

GtkScrollbar {
    -GtkRange-slider-width: 0px;
    -GtkRange-slider-border: 0px;
}
